.hidden {
  display: none;
}

.wrong-url {
  color: red;
}

.pictures {
  display: flex;
  width: 650px;
  margin-top: 25px;
}

.img {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
}

.img .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
}

.img img {
  width: 100%;
  height: auto;
}
